.nav{

    display: flex;
    justify-content: space-between;
    background-color: yellow;

}
.nav-content{
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: center;*/
}

.nav-logo{
    width: 100px;
    height: 100px;
}

.nav.fixed {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
    transition: .5s ease-in-out;
}

.nav.fixed img{
    width: 100px;
    height: 100px;
}
.p.fixed{
    color: white;
}

