.nav{

    display: flex;
    justify-content: space-between;
    height: 55px;
    background-color: #282828;

    position: sticky;
    top: 0;
    z-index: 100;

}

.nav-content{
    padding-right: 40px;
    display: flex;
    color: #cbcaca;
    list-style-type: none;
    cursor: pointer;

}

.nav-items a:hover{
    line-height: 25px;
    border-bottom: 3px solid red;
}

.nav-logo{
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.nav-logo{
    width: 50px;
    height: 50px;
}


@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


.nav-items{
    padding-inline: 10px;
}
.nav.fixed {
    display: flex;
    justify-content: center;
    background-color: #282828;
    position: sticky;
    top: 0;
    z-index: 100;
    transition: .5s ease-in-out;
}

.nav.fixed img{
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.p.fixed{
    cursor: pointer;
    color: white;
}

.nav-content.hide{
    margin-left: auto;
}

.p.fixed.hide{
    display: none;
}

a.hide.active {
    display: unset;
    cursor: default;
    line-height: unset;
    border-bottom: unset;
}
a.hide{
    display: none;
    cursor: default;
}

.burgerMenu{
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    background-color: red;
    /*background-color: transparent;*/

}

.burgerBar{
    height: 0.2em;
    width: 4em;
    background-color: white;
}

.menu{
    width: 50%;
    height: 100vh;
    background-color: red;
    position: absolute;
    top: 0;
    z-index: -1;
}

.menu.hidden{
    display: none;
}

.menu.visible{
    display: inherit;
    left: 50%;
    width: 50%;
}
.nav-content.hide.mobile{
    display: none;
}

.nav-content.hide.notmobile{
    display: inherit;
}

.mobile{
    position: absolute;
    right: 0%;
}
.notmobile{
    display: none;
}
.burgerBar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.75em, 1.25em);
    transition: ease-out 0.5s;
}

.burgerBar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burgerBar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.5em, 1em);
    transition: ease-out 0.5s;
}

.burgerBar.unclicked{
    trasform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}


